<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{{'app.photos'|translate}}</h2>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">{{'app.all'|translate}}</li>
            <li data-filter=".filter-kamer">{{'app.rooms'|translate}}</li>
            <li data-filter=".filter-keuken">{{'app.kitchen'|translate}}</li>
            <li data-filter=".filter-uitzicht">{{'app.view'|translate}}</li>
            <li data-filter=".filter-badkamer">{{'app.bathroom'|translate}}</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-kamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kamer-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.room'|translate}} 1</h4>
              <p>{{'app.two-person-bedroom'|translate}}</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kamer-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kamer 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-badkamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/bathroom-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.bathroom'|translate}}</h4>
              <p>{{'app.bath-and-shower'|translate}}</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/bathroom-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Badkamer"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="col-lg-4 col-md-6 portfolio-item filter-kamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kamer-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Kamer 2</h4>
              <p>Eenpersoons</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kamer-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kamer 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
    -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-uitzicht">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/uitzicht-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.seaside-view'|translate}}</h4>
              <p></p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/uitzicht-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Uitzicht 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-badkamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/bathroom-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.bathroom'|translate}} 2</h4>
              <p></p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/bathroom-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Badkamer 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-kamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kamer-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.room'|translate}} 3</h4>
              <p>{{'app.two-person-bedroom'|translate}}</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kamer-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kamer 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="col-lg-4 col-md-6 portfolio-item filter-uitzicht">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/uitzicht-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Zeezicht</h4>
              <p>Zicht op zee</p>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/uitzicht-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Uitzicht 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
    -->

        <div class="col-lg-4 col-md-6 portfolio-item filter-uitzicht">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/uitzicht-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.seaside-view'|translate}}</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/uitzicht-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Uitzicht 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-badkamer">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/bathroom-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.bathroom'|translate}}</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/bathroom-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Badkamer 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-keuken">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kitchen-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{'app.kitchen'|translate}}</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kitchen-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Keuken 1"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="col-lg-4 col-md-6 portfolio-item filter-keuken">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kitchen-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Keuken</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kitchen-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Keuken 2"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-keuken">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/kitchen-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Keuken</h4>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/kitchen-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Keuken 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
    -->

      </div>

    </div>
  </section>