<div class="book-container container">
  <h4 class="modal-title" id="modal-basic-title">{{'app.book-stay'|translate}}</h4>
  <form [formGroup]="form" class="mt-3">
    <div class="form-group">
      <label for="firstNameInput">{{'app.firstname'|translate}}<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="firstNameInput" [placeholder]="getPlaceholderText('app.firstname')" formControlName="firstName"
        required>
    </div>
    <div class="form-group">
      <label for="lastNameInput">{{'app.lastname'|translate}}<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="lastNameInput" [placeholder]="getPlaceholderText('app.lastname')"  formControlName="lastName" required>
    </div>
    <div class="form-group">
      <label for="emailInput">{{'app.email'|translate}}<span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="emailInput" [placeholder]="getPlaceholderText('app.email')"  formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="telefoonInput">{{'app.telephone'|translate}}<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="telefoonInput" [placeholder]="getPlaceholderText('app.telephone')"  required
        formControlName="telephone">
    </div>
    <div class="form-group">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="row  align-items-end justify-content-end">
      <div *ngIf="bookedEvents.length" class="col-auto">
        {{'app.booked-weeks'|translate:{'count':bookedEvents.length} }}
      </div>
      <div class="col-auto">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary book-button"
          (click)="bookPeriod($event)">{{'app.book'|translate}}</button>
      </div>
    </div>
  </form>

</div>
