<footer id="footer">
  <!--<div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Appartement Mariakerke</h3>
              <p>
                Streetnaam 123 <br>
                8400 Mariakerke <br><br>
                <strong>Phone:</strong> +32 123 45 67 89<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>-->

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>De Zeerand Mariakerke</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
