<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Verblijf boeken</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('niet geboekt')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="voornaamInput">Voornaam</label>
      <input type="text" class="form-control" id="voornaamInput" 
        placeholder="Voornaam">
    </div>
    <div class="form-group">
      <label for="naamInput">Naam</label>
      <input type="text" class="form-control" id="naamInput" placeholder="Naam">
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput"
        placeholder="Email">
    </div>
    <div class="form-group">
      <label for="telefoonInput">Telefoonnummer</label>
      <input type="text" class="form-control" id="telefoonInput"
        placeholder="Telefoonnummer">
    </div>
    <div class="form-group">
        <label for="periodeSelect">Periode</label>
        <select class="form-control" id="periode Select" multiple>
          <option>Dit zijn voorbeelden</option>
          <option>Maandag 30/08 - Zondag 05/09</option>
          <option>Maandag 06/09 - Zondag 12/09</option>
          <option>Maandag 13/09 - Zondag 19/09</option>
          <option>Maandag 20/09 - Zondag 26/09</option>
          <option>Maandag 27/09 - Zondag 03/09</option>
        </select>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary book-button" (click)="modal.close('er is geboekt')">Boeken</button>
</div>
