<section id="omgeving" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{{'app.surroundings'|translate}}</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-water"></i></div>
            <h4 class="title"><a href="">{{'app.beach-100m'|translate}}</a></h4>
            <p class="description">{{'app.beach-100m-description'|translate}}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-food-menu"></i></div>
            <h4 class="title"><a href="">{{'app.restaurants'|translate}}</a></h4>
            <p class="description">{{'app.restaurants-description'|translate}}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-red">
            <div class="icon"><i class="bx bxs-bank"></i></div>
            <h4 class="title"><a href="">{{'app.atlantikwall'|translate}}</a></h4>
            <p class="description">{{'app.atlantikwall-description'|translate}}</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-shopping-bag"></i></div>
            <h4 class="title"><a href="">{{'app.shops'|translate}}</a></h4>
            <p class="description">{{'app.shops-description'|translate}}</p>
          </div>
        </div>

      </div>

    </div>
  </section>