<section id="omgeving" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Omgeving</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-water"></i></div>
            <h4 class="title"><a href="">Strand op 100m</a></h4>
            <p class="description">Geniet van het strand Mariakerke Bad op 100m van het appartement.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-food-menu"></i></div>
            <h4 class="title"><a href="">Restaurants in de buurt</a></h4>
            <p class="description">Italiaans restaurant Ensorito & Sorrento 2, Bitro De Baron op steenworp afstand.<br> Restaurant Boucquez op wandelafstand</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-red">
            <div class="icon"><i class="bx bxs-bank"></i></div>
            <h4 class="title"><a href="">Atlantikwall</a></h4>
            <p class="description">De ATLANTIKWALL in Raversyde is een van de best bewaarde restanten van de Duitse verdedigingslinie.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bx-shopping-bag"></i></div>
            <h4 class="title"><a href="">Winkels in de buurt</a></h4>
            <p class="description">Winkelstraat in Oostende is makkelijk bereikbaar via een tramhalte op een 100-tal meter.<br> Ook zondagnamiddag zijn de winkels in Oostende geopend.</p>
          </div>
        </div>

      </div>

    </div>
  </section>