.book-button{
    background-color:#1bac91;
    border-color: #1bac91;
    color:white;
}

.price-table tr{
    height:2.25rem;
}

.price-table tr:not(:last-child){
    border-bottom: 1px solid lightgray;
}