<section id="appartement" class="about">
    <div class="container">

      <div class="row">
        <div class="col-xl-12 col-lg-12 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">{{'app.the-apartment'|translate}}</h3>
          <p data-aos="fade-up">
            {{'app.apartment-description-1'|translate}}
            <br><br> 
            {{'app.apartment-description-2'|translate}}
            <br><br>
            {{'app.apartment-description-3'|translate}}
          </p>
          <div class="icon-box" data-aos="fade-up">
            <i class="bx bx-bed"></i>
            <h4>{{'app.rooms'|translate}}</h4>
            <p>{{'app.rooms-sleep'|translate}}</p>
            <ul>
                <li>{{'app.rooms-1'|translate}}</li>
                <li>{{'app.rooms-2'|translate}}</li>
                <li>{{'app.rooms-3'|translate}}</li>
            </ul>            
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-bath"></i>
            <h4>{{'app.bathroom'|translate}}</h4>
            <ul>
                <li>{{'app.bathroom-1'|translate}}</li>
                <Li>{{'app.bathroom-2'|translate}}</Li>
            </ul>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bxs-wine"></i>
            <h4>{{'app.kitchen'|translate}}</h4>
            <p>{{'app.kitchen-sub'|translate}}</p>
            <ul>
                <li>{{'app.kitchen-1'|translate}}</li>
                <li>{{'app.kitchen-2'|translate}}</li>
                <li>{{'app.kitchen-3'|translate}}</li>
                <li>{{'app.kitchen-4'|translate}}</li>
            </ul>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class='bx bx-tv'></i>
            <h4>{{'app.living-area'|translate}}</h4>
            <p>{{'app.living-area-sub'|translate}}</p>
            <ul>
                <li>{{'app.living-area-1'|translate}}</li>
                <li>{{'app.living-area-2'|translate}}</li>
                <li>{{'app.living-area-3'|translate}}</li>
                <li>{{'app.living-area-4'|translate}}</li>
            </ul>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bxs-component"></i>
            <h4>{{'app.facilities'|translate}}</h4>
            <ul>
                <li>{{'app.facilities-1'|translate}}</li>
                <li>{{'app.facilities-2'|translate}}</li>
                <li>{{'app.facilities-3'|translate}}</li>
                <li>{{'app.facilities-4'|translate}}</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </section>