     <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>
     <div>
       <!-- ======= Header ======= -->
       <app-navigation></app-navigation>
       <!-- End Header -->
       <router-outlet></router-outlet>
       <!-- ======= Footer ======= -->
       <app-footer id="footer" #footer></app-footer>
       <!-- End Footer -->
       <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
           class="bi bi-arrow-up-short"></i></a>
     </div>
