<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="index.html">De Zeerand Mariakerke</a></h1>
    </div>

    <nav #navbar id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#appartement">Appartement</a></li>
        <li><a class="nav-link scrollto" href="#omgeving">Omgeving</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Foto's</a></li>
        <li><a class="nav-link scrollto" href="#beschikbaarheid">Beschikbaarheid & Prijzen</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
